{% extends "./chrome.html" %}
{% load static  %}
{% block head %}
    <title>New poster</title>
{% endblock %}
{% block content %}
<div class="Content">
  <h1>New poster</h1>

  <form id="upload-form" method="post" enctype="multipart/form-data" action="/api/upload">
    {% csrf_token %}
    <div class="ImageUploadForm flex flexColumn flexCenter">
      <div class="Scanner mb" id="scanner">
        <div class="Scanner_beam"></div>
        <img id="preview-image" class="Preview Preview__out"/>
        <div id="image-placeholder" class="ImagePlaceholder">No image yet.</div>
      </div>
      <div id="upload-progress" class="StatusBar"></div>
      <label class="Button mb">
        Choose a file
        <input id="image-input" class="hidden" name="image" type='file' accept="image/jpeg,image/png,image/gif"/>
      </label>
      <noscript>
        <input class="Button" id="submit-button" type="submit" value="Upload Image"/>
      </noscript>
    </div>
  </form>
  <form class="Form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label class="Form_labelledInput">
      <span class="Form_label">Date of show</span>
      <input type="date" name="date_of_show" required pattern="\d{4}-\d{2}-\d{2}" aria-errormessage="form_date_error_message">
      <span class="Form_inputErrorMessage" id="form_date_error_message">Please write the date in the form of MMMM-DD-YY</span>
    </label>
    <label class="Form_labelledInput">
      <span class="Form_label">Description and more details</span>
      <textarea class="Form_textarea" name="alternate_text" required aria-describedby="form_alternate_text_description" placeholder="Metaphysical beard with Krokadile tears at The Library. All ages. $20 at the door."></textarea>
      <span class="Form_inputDescription" id="form_alternate_text_description">e.g. who, where, ticket price etc.</span>
    </label>
    <input type="hidden" name="image" id="uploaded-image-id-input">
    <button class="Button" type="submit">Post it!</button>
  </form>
</div>
<script src="{% static "axios.js" %}"></script>
<script type="module" src="{% static "upload.js" %}"></script>
{% endblock content %}
{% comment %}
vim: filetype=htmldjango
{% endcomment %}
