{% extends "./chrome.html" %}
{% block head %}
<title>Show</title>
{% endblock %}
{% block content %}
<div class="PostDetailPage">
  <div class="PostDetailPage_inner">
    <img src="/media/{{ post.image.image }}"/>
    <p>{{post.alternate_text | markdown | safe}}</p>
    {% if post.created_by == user %}
    <p>
      This is your poster.
    </p>
    <form method="post" action="{% url 'delete-post' pk=post.pk %}" id="delete_form">
      {% csrf_token %}
      <input class="Button" type="submit" value="delete poster">
    </form>
    {% else %}
    <p>
    Posted by
    {% if post.created_by != None %}
    {{post.created_by.username}}</p>
    {% else %}
    anonymous ;)
    {% endif %}
    </p>
    {% endif %}
  </div>
</div>
{% load static  %}
<script src="{% static "axios.js" %}"></script>
<script>
  window.SUCCESS_URL = "{% url 'list-view' %}";
</script>
<script type="module" src="{% static "detail.js" %}"></script>
{% endblock %}
{% comment %}
vim: filetype=htmldjango
{% endcomment %}
