{% extends "./chrome.html" %}
{% block head %}
    <title>All shows</title>
{% endblock %}
{% block content %}
<ul class="PostList">
  {% for post in post_list %}
  <li class="PostList_item"><a href="{% url 'detail-view' post.slug %}"><img src="/media/{{ post.image.image }}"/></a></li>
  {% empty %}
  Nothing to show
  {% endfor %}
  {% if user.is_authenticated %}
    <li class="PostList_item"><a href="{% url 'create-post' %}">add!</a></li>
  {% endif %}
</ul>
{% endblock %}
{% comment %}
vim: filetype=htmldjango
{% endcomment %}
