{% extends "./base.html" %}
{% block head %}
    <title>Upload</title>
{% endblock %}
{% block content %}

  <form id="upload-form" method="post" enctype="multipart/form-data" action="/api/upload">
    <label>
      Choose file
      <input name="image" type='file' accept="image/jpg,image/png,image/gif"/>
    </label>
    <input type="submit" value="upload"/>
    {% csrf_token %}
  </form>
  {% load static  %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{% static "upload.js" %}"></script>
{% endblock %}
{% comment %}
vim: filetype=htmldjango
{% endcomment %}
