
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*, *:before,  *:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-size: 12px;
  color: #444;
}
a  {
  color: #000;
  text-decoration: underline #777;
}

.Preview {
  max-height: 6in;
  display: block;
  margin: 0 auto;
  transition: transform 1s, opacity 1s;

  position: relative;
  z-index: 0;
}
.Preview__out {
  transform: translateY(20%);
  opacity: 0;
}
.Preview__in {
  transform: translateY(0);
  opacity: 1;
}

.Scanner {
  --scanner-is-on:0;
  --scanner-progress:0;
  --scanner-padding: 1em;

  position: relative;
}
.Scanner_beam {
  position: absolute;
  top: 0;
  width: 100%;

  background-color: black;
  opacity: 0.5;

  height: calc(100% - var(--scanner-progress));
  z-index: 1;
}

.Button {
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 4px;
  padding: 1em;
  display: block;
  width: 100%;
  text-align: center;

  appearance: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.Button[disabled] {
  cursor: default;
  border-color: grey;
  color: grey;
}

.ImageUploadForm {
  min-height: 4in;
  max-width: 100%;

  background-color: grey;
  color: lightgrey;
}

.PlaceholderText {
  text-transform: uppercase;
  transform: rotate(45deg);
}

.PostGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.PostGrid .PostGrid_item {
  width: calc((80vw / 5) * (2/3));
  height: calc((80vw / 3) * (2/3));
  margin: calc((80vw / 3) * (1/3)) calc((80vw / 5) * (1/3));
  overflow: hidden;
}

.mb {
  margin-bottom: 1em;
}

.hidden {
  display: none;
  visibility: hidden;
}

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}

.flexChildGrow {
  flex-grow: 1;
}

.offsetParent {
  position: relative;
}

.fullHeight, .fullWidth {
  position: absolute;
}

.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}
