
.Preview {
  max-height: 6in;
  display: block;
  margin: 0 auto;
  transition: transform 1s, opacity 1s;

  position: relative;
  z-index: 0;
}
.Preview__out {
  transform: translateY(20%);
  opacity: 0;
}
.Preview__in {
  transform: translateY(0);
  opacity: 1;
}

.Scanner {
  --scanner-is-on:0;
  --scanner-progress:0;
  --scanner-padding: 1em;

  position: relative;
}
.Scanner_beam {
  position: absolute;
  top: 0;
  width: 100%;

  background-color: black;
  opacity: 0.5;

  height: calc(100% - var(--scanner-progress));
  z-index: 1;
}

.Button {
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 4px;
  padding: 1em;
  display: block;
  width: 100%;
  text-align: center;

  appearance: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.Button[disabled] {
  cursor: default;
  border-color: grey;
  color: grey;
}

.ImageUploadForm {
  min-height: 4in;
  max-width: 100%;

  background-color: grey;
  color: lightgrey;
}

.PlaceholderText {
  text-transform: uppercase;
  transform: rotate(45deg);
}

.mb {
  margin-bottom: 1em;
}

.hidden {
  display: none;
  visibility: hidden;
}

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}

.flexChildGrow {
  flex-grow: 1;
}

.offsetParent {
  position: relative;
}

.fullHeight, .fullWidth {
  position: absolute;
}

.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}
